<!-- ============ NOTE! ============ -->
<!-- This HTML can be used with any type of users' views (Student, Teacher, Admin). -->
<!-- Student, Teacher: Remove the add new class button -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Class</title>
  <!-- BOOTSTRAP STYLES-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <link href="assets/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!-- CUSTOM STYLES-->
  <link href="assets/css/custom.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/assign-class.css">
  <!-- GOOGLE FONTS-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
  <!-- DATATABLES -->
  <link rel="stylesheet" href="assets/js/dataTables/dataTables.bootstrap.css" />
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Itec Education</a>
      </div>
      <div style="
            color: white;
            padding: 15px 50px 5px 50px;
            float: right;
            font-size: 16px;
          ">
        Last access : 30 May 2014 &nbsp;
        <a href="#" class="btn btn-danger square-btn-adjust">Logout</a>
      </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          <li class="text-center">
            <img src="assets/img/find_user.png" class="user-image img-responsive" />
          </li>

          <li>
            <a href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
          </li>
          <li>
            <a href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
          </li>
          <li>
            <a href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
          </li>
          <li>
            <a href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
          </li>
          <li>
            <a href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
          </li>
          <li>
            <a href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
          </li>

          <li>
            <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="#">Second Level Link</a>
              </li>
              <li>
                <a href="#">Second Level Link</a>
              </li>
              <li>
                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                  <li>
                    <a href="#">Third Level Link</a>
                  </li>
                  <li>
                    <a href="#">Third Level Link</a>
                  </li>
                  <li>
                    <a href="#">Third Level Link</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a class="active-menu" href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /. NAV SIDE  -->

    <!-- TEACHER LIST -->
    <div id="page-wrapper">
      <div id="page-inner">
        <!--Content starts here-->
        <div class="row">
          <div class="col-md-12">
            <!--    Hover Rows  -->
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size: 16px;">
                <div class="panel-heading-title">Teachers</div>
                <div class="panel-heading-btn">
                  <button class="btn btn-success btn-md" data-toggle="modal" data-target="#teacherModal">
                    Assign new teacher
                  </button>
                  <div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                          </button> -->
                          <h4 class="modal-title" id="myModalLabel">Assign teacher to class</h4>
                        </div>
                        <div id="teacher-list" class="modal-body">
                          <input class="fuzzy-search" placeholder="Search student"/>
                          <!-- Reference: https://www.codinglabweb.com/2022/07/multiple-options-select-menu-javascript.html -->
                          <div class="select-btn open">
                            <span class="btn-text">Please select teacher to assign</span>
                            <!-- <span class="arrow-dwn">
                              <i class="fa-solid fa-chevron-down"></i>
                            </span> -->
                          </div>
                          <ul class="list list-items">
                            <li class="item">
                              <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                              </span>
                              <span class="item-text">Petteri Kaskenpalo</span>
                            </li>
                            <li class="item">
                              <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                              </span>
                              <span class="item-text">Bobby Yang</span>
                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Close
                          </button>
                          <button id="create-class-btn" type="submit" class="btn btn-success">
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="teacher-table" class="table table-hover display">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Dr Mee Loong (Bobby) Yang</td>
                        <td>bobby.yang@aut.ac.nz</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Dr Mee Loong (Bobby) Yang</td>
                        <td>bobby.yang@aut.ac.nz</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Dr Mee Loong (Bobby) Yang</td>
                        <td>bobby.yang@aut.ac.nz</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Dr Mee Loong (Bobby) Yang</td>
                        <td>bobby.yang@aut.ac.nz</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End  Hover Rows  -->
          </div>
          <!-- /. ROW  -->
        </div>

        <!-- STUDENT LIST -->
        <div class="row">
          <div class="col-md-12">
            <!--    Hover Rows  -->
            <div class="panel panel-default">
              <div class="panel-heading" style="font-size: 16px;">
                <div class="panel-heading-title">Students</div>
                <div class="panel-heading-btn">
                  <button class="btn btn-success btn-md" data-toggle="modal" data-target="#studentModal">
                    Add new student
                  </button>
                  <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                          </button> -->
                          <h4 class="modal-title" id="myModalLabel">Add student to class</h4>
                        </div>
                        <div id="student-list" class="modal-body">
                          <input class="fuzzy-search" placeholder="Search teacher"/>
                          <!-- Reference: https://www.codinglabweb.com/2022/07/multiple-options-select-menu-javascript.html -->
                          <div class="select-btn open">
                            <span class="btn-text">Please select student to add</span>
                            <!-- <span class="arrow-dwn">
                              <i class="fa-solid fa-chevron-down"></i>
                            </span> -->
                          </div>
                          <ul class="list list-items">
                            <li class="item">
                              <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                              </span>
                              <span class="item-text">Trinh Nhat Duy</span>
                            </li>
                            <li class="item">
                              <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                              </span>
                              <span class="item-text">Nguyen Phu Thanh</span>
                            </li>
                            <li class="item">
                              <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                              </span>
                              <span class="item-text">Nguyen Quoc Thu</span>
                            </li>
                            <li class="item">
                              <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                              </span>
                              <span class="item-text">Nguyen Tran Tuan Kiet</span>
                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Close
                          </button>
                          <button id="create-class-btn" type="submit" class="btn btn-success">
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="student-table" class="table table-hover display">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2059035</td>
                        <td>Nguyen Khac Anh Quan</td>
                        <td>2059035@itec.hcmus.edu.vn</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>2059035</td>
                        <td>Nguyen Khac Anh Quan</td>
                        <td>2059035@itec.hcmus.edu.vn</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>2059035</td>
                        <td>Nguyen Khac Anh Quan</td>
                        <td>2059035@itec.hcmus.edu.vn</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>2059035</td>
                        <td>Nguyen Khac Anh Quan</td>
                        <td>2059035@itec.hcmus.edu.vn</td>
                        <td>
                          <form action="" method="POST" style="display: flex;">
                            <button class="btn btn-danger remove-btn"><i class="fa fa-user-times"></i> Remove</button>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End  Hover Rows  -->
          </div>
          <!-- /. ROW  -->
        </div>



        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="./assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="./assets/js/jquery.metisMenu.js"></script>

    <!-- DATATABLES -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>

    <!-- LIST.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>

    <!-- CUSTOM SCRIPTS -->
    <script src="./assets/js/custom.js"></script>
    <script src="./assets/js/assign-class.js"></script>
</body>

</html>